body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: rgba(93, 99, 97, 0.129);
  margin: 0px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header {
  width: 100%;
  height: 60px;
  background-color: rgb(7, 7, 37);
  display: flex;
}
#first_child {
  width: 70%;
  display: flex;
}
h1 {
  font-style: oblique;
}
#_logo {
  width: 70%;
  height: 60%;
  margin: 17px 0 0 15px;
}
#logo_div {
  width: 15%;
  height: 100%;
}
#search_div {
  width: 50%;
  height: 100%;
  display: flex;
}
#search {
  width: 100%;
  height: 70%;
  border-radius: 10px;
  color: black;
  margin: auto;
}
#location_div {
  font-style: oblique;
  width: 25%;
  display: flex;
}
#location_img {
  font-size: 1.5em;
  margin: auto 0 0 0;
}
.boxs {
  width: 30%;
  height: 100%;
  display: flex;
}
#box1 {
  width: 25%;
  height: 100%;
  padding: 10px;
  align-items: center;
  display: flex;
}
#box2 {
  width: 35%;
  height: 100%;
  align-items: center;
}
#box3 {
  width: 30%;
  height: 100%;
  align-items: center;
}
#box4 {
  width: 20%;
  height: 100%;
  align-items: center;
  display: flex;
  color: aliceblue;
}

.foot {
  width: 100%;
  height: 35px;
  background-color: #282c34;
  display: flex;
}

@media screen and (max-width: 800px) {
  #location_div,
  #item,
  .boxs {
    width: 0%;
    height: 0%;
    display: none;
  }
  #_logo {
    width: 100px;
  }
  .header {
    display: grid;
    height: 55px;
    grid-template-columns: auto auto;
  }

  #first_child {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
  }

  #search_div,
  #search {
    width: 240px;
    margin: auto;
  }
}
