#slider-container {
  width: 90%;
  padding: 10px;
}
#slider-box {
  display: flex;
  margin: 30px;
}
#btns {
  width: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#btns button {
  width: 100%;
  height: 30%;
  border-radius: 5%;
  background-color: azure;
}
